@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, san-serif;
  background-color: #282D35;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 90px;

}

.nav-logo {
  width: 60px;
  display: block;
  max-width: 100%;
  height: auto;

}

.nav>h2 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 30px;
}

.nav>h3 {
  margin: 0;
  color: whitesmoke;
}


.main-content {
  
  padding: 57px 27px;
  color: white;
  background-image: url(./images/reactjs-icon-2.png);
  background-repeat: no-repeat;
  background-position: right 75%;
  

}

.main--heading {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 46px;
  max-width: 600px;
}

.main--list>li {
  line-height: 19px;
  padding-block: 10px;
  font-size: 22px;

}

.main--list>li::marker {
  font-size: 1.5rem;
  color: #61DAFB;
}